<div class="flex justify-center mb-2">
  <ng-container>
    <label class="mr-5">Cantidad de Autos</label>
    <input
      matInput
      type="number"
      class="w-24 bg-gray-200 text-center"
      [(ngModel)]="cantidadAutos"
      (change)="actualizarCantidadAutos()"
      placeholder="Cantidad de Autos"
    />
  </ng-container>
</div>

<div class="overflow-x-auto mx-8">
  <table mat-table [dataSource]="autos" class="mat-elevation-z8 w-full">
    <!-- Item Column -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef class="text-center align-middle">
        Item
      </th>
      <td mat-cell *matCellDef="let auto; let i = index" class="text-center">
        {{ i + 1 }}
      </td>
    </ng-container>

    <!-- Marca Column -->
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef class="text-center">Marca</th>
      <td mat-cell *matCellDef="let auto" class="text-center">
        <input
          matInput
          type="text"
          [(ngModel)]="auto.marca"
          class="w-26 bg-gray-200 text-center"
          placeholder="Marca"
        />
      </td>
    </ng-container>

    <!-- Modelo Column -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef class="text-center">Modelo</th>
      <td mat-cell *matCellDef="let auto" class="text-center">
        <input
          matInput
          type="text"
          [(ngModel)]="auto.modelo"
          class="w-26 bg-gray-200 text-center"
          placeholder="Modelo"
        />
      </td>
    </ng-container>

    <!-- Año Column -->
    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef class="text-center">Año</th>
      <td mat-cell *matCellDef="let auto" class="text-center">
        <input
          matInput
          type="text"
          [(ngModel)]="auto.anio"
          class="w-24 bg-gray-200 text-center"
          placeholder="Año"
        />
      </td>
    </ng-container>

    <!-- Plan Column -->
    <ng-container matColumnDef="plan">
      <th mat-header-cell *matHeaderCellDef class="text-center">Plan</th>
      <td mat-cell *matCellDef="let auto; let i = index" class="text-center">
        <input
          matInput
          type="text"
          [(ngModel)]="auto.plan"
          class="w-24 bg-gray-200 text-center"
          placeholder="Plan"
        />
      </td>
    </ng-container>

    <!-- Franquicia Column -->
    <ng-container matColumnDef="franquicia">
      <th mat-header-cell *matHeaderCellDef class="text-center">Franquicia</th>
      <td mat-cell *matCellDef="let auto; let i = index" class="text-center">
        <input
          matInput
          type="text"
          [(ngModel)]="auto.franquicia"
          class="w-24 bg-gray-200 text-center"
          placeholder="Franquicia"
        />
      </td>
    </ng-container>

    <!-- Patente Column -->
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef class="text-center">Patente</th>
      <td mat-cell *matCellDef="let auto; let i = index" class="text-center">
        <input
          matInput
          type="text"
          [(ngModel)]="auto.patente"
          class="w-24 bg-gray-200 text-center"
          placeholder="Patente"
        />
      </td>
    </ng-container>

    <!-- Motor Column -->
    <ng-container matColumnDef="motor">
      <th mat-header-cell *matHeaderCellDef class="text-center">Motor</th>
      <td mat-cell *matCellDef="let auto; let i = index" class="text-center">
        <input
          matInput
          type="text"
          [(ngModel)]="auto.motor"
          class="w-24 bg-gray-200 text-center"
          placeholder="Motor"
        />
      </td>
    </ng-container>

    <!-- Chasis Column -->
    <ng-container matColumnDef="chasis">
      <th mat-header-cell *matHeaderCellDef class="text-center">Chasis</th>
      <td mat-cell *matCellDef="let auto; let i = index" class="text-center">
        <input
          matInput
          type="text"
          [(ngModel)]="auto.chasis"
          class="w-24 bg-gray-200 text-center"
          placeholder="Chasis"
        />
      </td>
    </ng-container>

    <!-- Header and Row Definition -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="flex justify-center mt-4">
  <button mat-raised-button color="primary" (click)="iniciarNuevaBusqueda()">
    Buscar
  </button>
</div>
