<h2 class="text-center">Seleccione cómo cargar los datos</h2>
<div class="flex justify-center gap-16">
  <div class="option">
    <button
      mat-raised-button
      color="primary"
      class="mt-4 p-4 hover:bg-green-500"
      (click)="router.navigate(['/busqueda-manual'])"
    >
      <span class="text-xl font-semibold">Cargar Datos Manualmente</span>
    </button>
  </div>

  <div class="option flex flex-col items-center">
    <button
      mat-raised-button
      color="primary"
      class="mt-4 p-4 hover:bg-green-500"
    >
      <label for="fileInput" class="cursor-pointer">
        <span class="text-xl font-semibold">Cargar Excel</span>
      </label>
      <input
        id="fileInput"
        type="file"
        (change)="onFileChange($event)"
        accept=".xlsx, .xls"
        style="display: none"
      />
    </button>
    <button
      mat-raised-button
      color="primary"
      class="mt-4 p-4 hover:bg-green-500"
      (click)="downloadModel()"
    >
      <span class="text-lg font-semibold">Descargar Modelo</span>
    </button>
  </div>
</div>
