.option {
  margin-bottom: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.p-4 {
  padding: 16px;
}

.text-4xl {
  font-size: 2.25rem;
}

.mb-2 {
  margin-bottom: 8px;
}

.text-lg {
  font-size: 1.125rem;
}

.font-semibold {
  font-weight: 600;
}
