<h2 class="text-center mb-4">Formulario de Búsqueda de Autos</h2>

<div *ngIf="mostrarCamposEntrada">
  <div *ngIf="!datosRecibidos">
    <div class="flex justify-center mb-4">
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Cantidad de Autos"
          [(ngModel)]="cantidadAutos"
          (ngModelChange)="actualizarCantidadAutos()"
          name="cantidadAutos"
          required
          min="1"
        />
      </mat-form-field>
    </div>

    <div class="flex justify-center mx-5">
      <table mat-table [dataSource]="autos" class="mat-elevation-z8">
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef>Item</th>
          <td mat-cell *matCellDef="let auto; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef>Marca</th>
          <td mat-cell *matCellDef="let auto; let i = index">
            <mat-form-field class="w-full mx-2">
              <input
                matInput
                placeholder="Marca"
                [(ngModel)]="auto.marca"
                name="marca{{ i }}"
                required
              />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="anio">
          <th mat-header-cell *matHeaderCellDef>Año</th>
          <td mat-cell *matCellDef="let auto; let i = index">
            <mat-form-field class="w-full mx-2">
              <input
                matInput
                placeholder="Año"
                [(ngModel)]="auto.anio"
                name="anio{{ i }}"
                required
              />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef>Modelo</th>
          <td mat-cell *matCellDef="let auto; let i = index">
            <mat-form-field class="w-full mx-2">
              <input
                matInput
                placeholder="Modelo"
                [(ngModel)]="auto.modelo"
                name="modelo{{ i }}"
                required
              />
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAutos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAutos"></tr>
      </table>
    </div>
  </div>

  <!-- Mostrar campos si hay datos recibidos -->
  <div *ngIf="datosRecibidos">
    <div class="flex justify-center mb-4">
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Cantidad de Autos"
          [(ngModel)]="cantidadAutos"
          (ngModelChange)="actualizarCantidadAutos()"
          name="cantidadAutos"
          required
        />
      </mat-form-field>
    </div>

    <div class="flex justify-center mx-5">
      <table mat-table [dataSource]="autos" class="mat-elevation-z8">
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef>Item</th>
          <td mat-cell *matCellDef="let auto; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef>Marca</th>
          <td mat-cell *matCellDef="let auto; let i = index">
            <mat-form-field class="w-full mx-2">
              <input
                matInput
                placeholder="Marca"
                [(ngModel)]="auto.marca"
                name="marca{{ i }}"
                required
              />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="anio">
          <th mat-header-cell *matHeaderCellDef>Año</th>
          <td mat-cell *matCellDef="let auto; let i = index">
            <mat-form-field class="w-full mx-2">
              <input
                matInput
                placeholder="Año"
                [(ngModel)]="auto.anio"
                name="anio{{ i }}"
                required
              />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef>Modelo</th>
          <td mat-cell *matCellDef="let auto; let i = index">
            <mat-form-field class="w-full mx-2">
              <input
                matInput
                placeholder="Modelo"
                [(ngModel)]="auto.modelo"
                name="modelo{{ i }}"
                required
              />
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAutos"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAutos"></tr>
      </table>
    </div>
  </div>

  <div class="flex justify-center mt-4" *ngIf="!datosRecibidos">
    <button mat-raised-button color="primary" (click)="buscar()">Buscar</button>
  </div>
</div>
<div *ngIf="datosRecibidos" class="mt-4">
  <table mat-table [dataSource]="resultados" class="mat-elevation-z8">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>Item</th>
      <td mat-cell *matCellDef="let auto; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Marca Column -->
    <ng-container matColumnDef="de_MARCA">
      <th mat-header-cell *matHeaderCellDef>Marca</th>
      <td mat-cell *matCellDef="let resultado">
        <ng-container *ngIf="resultado.auto">
          {{ resultado.auto.de_MARCA }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Año Column -->
    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef>Año</th>
      <td mat-cell *matCellDef="let resultado">
        <ng-container *ngIf="resultado.auto">
          {{ resultado.auto.anio }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Modelo Column -->
    <ng-container matColumnDef="de_MODELO">
      <th mat-header-cell *matHeaderCellDef>Modelo</th>
      <td mat-cell *matCellDef="let resultado">
        <ng-container *ngIf="resultado.auto">
          {{ resultado.auto.de_MODELO }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Tipo de Vehículo Column -->
    <ng-container matColumnDef="dr_TIPODEVEHICULO">
      <th mat-header-cell *matHeaderCellDef>Tipo de Vehículo</th>
      <td mat-cell *matCellDef="let resultado">
        <ng-container *ngIf="resultado.auto">
          {{ resultado.auto.dr_TIPODEVEHICULO }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Código de Marca Column -->
    <ng-container matColumnDef="cd_MARCA">
      <th mat-header-cell *matHeaderCellDef>Código de Marca</th>
      <td mat-cell *matCellDef="let resultado">
        <ng-container *ngIf="resultado.auto">
          {{ resultado.auto.cd_MARCA }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Código de Modelo Column -->
    <ng-container matColumnDef="cd_MODELO">
      <th mat-header-cell *matHeaderCellDef>Código de Modelo</th>
      <td mat-cell *matCellDef="let resultado">
        <ng-container *ngIf="resultado.auto">
          {{ resultado.auto.cd_MODELO }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Código de Tipo de Vehículo Column -->
    <ng-container matColumnDef="cd_TIPODEVEHICULO">
      <th mat-header-cell *matHeaderCellDef>Código de Tipo de Vehículo</th>
      <td mat-cell *matCellDef="let resultado">
        <ng-container *ngIf="resultado.auto">
          {{ resultado.auto.cd_TIPODEVEHICULO }}
        </ng-container>
      </td>
    </ng-container>

    <!-- Plan Column -->
    <ng-container matColumnDef="plan">
      <th mat-header-cell *matHeaderCellDef>Plan</th>
      <td mat-cell *matCellDef="let resultado; let i = index">
        <ng-container *ngIf="resultado.auto">
          <input [(ngModel)]="resultados[i].plan" placeholder="Plan" />
        </ng-container>
      </td>
    </ng-container>

    <!-- Franquicia Column -->
    <ng-container matColumnDef="franquicia">
      <th mat-header-cell *matHeaderCellDef>Franquicia</th>
      <td mat-cell *matCellDef="let resultado; let i = index">
        <ng-container *ngIf="resultado.auto">
          <input
            [(ngModel)]="resultados[i].franquicia"
            placeholder="Franquicia"
          />
        </ng-container>
      </td>
    </ng-container>

    <!-- Patente Column -->
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef>Patente</th>
      <td mat-cell *matCellDef="let resultado; let i = index">
        <ng-container *ngIf="resultado.auto">
          <input [(ngModel)]="resultados[i].patente" placeholder="Patente" />
        </ng-container>
      </td>
    </ng-container>

    <!-- Motor Column -->
    <ng-container matColumnDef="motor">
      <th mat-header-cell *matHeaderCellDef>Motor</th>
      <td mat-cell *matCellDef="let resultado; let i = index">
        <ng-container *ngIf="resultado.auto">
          <input [(ngModel)]="resultados[i].motor" placeholder="Motor" />
        </ng-container>
      </td>
    </ng-container>

    <!-- Chasis Column -->
    <ng-container matColumnDef="chasis">
      <th mat-header-cell *matHeaderCellDef>Chasis</th>
      <td mat-cell *matCellDef="let resultado; let i = index">
        <ng-container *ngIf="resultado.auto">
          <input [(ngModel)]="resultados[i].chasis" placeholder="Chasis" />
        </ng-container>
      </td>
    </ng-container>

    <!-- Error Message Column -->
    <ng-container matColumnDef="mensajeError">
      <th mat-header-cell *matHeaderCellDef>Mensaje de Error</th>
      <td mat-cell *matCellDef="let resultado" [ngStyle]="{ color: 'red' }">
        {{ resultado.mensajeError }}
      </td>
    </ng-container>

    <!-- Header and Row Definition -->
    <tr mat-header-row *matHeaderRowDef="displayedColumnsResultados"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsResultados"></tr>
  </table>

  <!-- Buttons -->
  <div class="flex justify-center mt-4">
    <button mat-raised-button color="primary" (click)="crear()">Guardar</button>
  </div>

  <div class="flex justify-center mt-4">
    <button mat-raised-button color="primary" (click)="nueva()">
      Nueva Búsqueda
    </button>
  </div>
</div>
