<h2 class="text-center mb-4">Formulario de Búsqueda de Autos</h2>

<app-formulario-autos
  *ngIf="!datosRecibidos"
  [autos]="autos"
  [cantidadAutos]="cantidadAutos"
  (autosActualizados)="autos = $event"
  (nuevaBusqueda)="nuevaBusqueda()"
></app-formulario-autos>

<app-resultado-autos
  *ngIf="datosRecibidos"
  [resultados]="resultados"
  (exportarResultados)="exportarResultados()"
  (reintentarErrores)="reintentarErrores()"
  (resultadosActualizados)="actualizarResultados($event)"
></app-resultado-autos>

<div class="flex justify-center mt-4">
  <button mat-raised-button color="primary" (click)="limpiar()">
    Limpiar busqueda
  </button>
</div>
